@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>addAddress</title>
    <style type="text/css">
         .gridTable {border: 1px #c8c8c8 solid;border-collapse: collapse;min-width: 660px; background-color: #fff;color: #fff;}
        .gridHead th{font-weight: bold;background-color:#969696;color:#515151; padding: 3px 10px;;text-align: left}
        .gridHead a:link,.gridHead a:visited,.gridHead a:active,.gridHead a:hover {color:#3e3e3e; font-family:Arial; font-size:13px}
        .gridHead a:hover {text-decoration:none;}
        .gridTable tr.gridRow{background-color: #FFFFFF; font-family: Arial; font-size: 11px;}
        .gridTable tr.gridRow:hover{background-color:#EBEBEB;}
         .gridTable tr.gridAltRow{background-color: #FFFFFF;}
        .gridTable tr.gridAltRow:hover{background-color:#EBEBEB;}
        .gridTable tr:hover{background-color: white;}
        .gridAltRow td{padding: 3px 10px;margin: 5px; color: #333; font-family: Arial; font-size: 11px;}
        .gridRow td{padding: 3px 10px;color: #333; font-family: Arial; font-size: 11px;}
        .gridRow a{padding: 3px 10px;color: #333; font-family: Arial; font-size: 12px; font-weight:600; text-decoration:none}
        .gridAltRow a{padding: 3px 10px;color: #333; font-family: Arial; font-size: 12px; font-weight:600; text-decoration:none}
        .gridRow a:hover{padding: 3px 10px;color: #0088CC; font-family: Arial; font-size: 12px; font-weight:600; text-decoration: underline}
        .gridAltRow a:hover{padding: 3px 10px;color: #0088CC; font-family: Arial; font-size: 12px; font-weight:600; text-decoration:underline}
        .gridFooter td{padding: 3px 10px;color: white;font-family: Arial; font-size: 11px;text-align: center;}
        .gridFooter a{font-weight: bold;color: #ccc; border: 1px #333 solid; background-color:#07466D}
    </style>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
</script>
     <script type ="text/javascript" src="../../Scripts/partialScript.js"></script>                                                     
    
</head>
<body>
    <div>
        <div id="gridContent"  style=" padding:0px; " class="datagrid">
        @{
            var grid = new WebGrid(Model, defaultSort: "Name", rowsPerPage: 4, ajaxUpdateContainerId: "grider", canPage:true);
        }
         @grid.GetHtml(
         tableStyle: "gridTable",
         headerStyle: "gridHead",
         footerStyle: "gridFooter",
         rowStyle: "gridRow",
         mode: WebGridPagerModes.Numeric,
         htmlAttributes: new { id = "grider" },         
         alternatingRowStyle: "gridAltRow",
@*         columns:grid.Columns(
                      grid.Column("ID",format: @<text>@Html.ActionLink(((int)item.addressID).ToString(), "view_entry", "InventoryApp", new { id = item.addressID }, new
                    {
                        @class = "linkAjax"
                    })</text>),
             grid.Column("addressLine1","Area"),
             grid.Column("addressCity","City"),
             grid.Column("addressState","State"),
             grid.Column("addressPinCode","Pin Code")*@
 columns: grid.Columns(
             grid.Column("ID", format: @<text>@Html.ActionLink(((int)item.addressID).ToString(), "view_entry", "InventoryApp", new { id = item.addressID }, new { @class = "linkAjax"})</text>),
             grid.Column("Area", format: @<text>@Html.ActionLink(((string)item.addressLine1).ToString(), "view_entry", "InventoryApp", new { id = item.addressID }, new { @class = "linkAjax"})</text>),
             grid.Column("City", format: @<text>@Html.ActionLink(((string)item.addressCity).ToString(), "view_entry", "InventoryApp", new { id = item.addressID }, new { @class = "linkAjax"})</text>),
             grid.Column("State", format: @<text>@Html.ActionLink(((string)item.addressState).ToString(), "view_entry", "InventoryApp", new { id = item.addressID }, new { @class = "linkAjax"})</text>),
             grid.Column("Pin Code", format: @<text>@Html.ActionLink(((int)item.addressPinCode).ToString(), "view_entry", "InventoryApp", new { id = item.addressID }, new { @class = "linkAjax"})</text>)
            )
         )
             <div id="view_dialog"></div>
      </div>
    </div>

 </body>
</html>
